$color-blackDark: black;
$color-blackLight: rgb(85, 81, 81);
$color-primary: rgb(202, 36, 64);
$color-primarygrey: rgb(245, 244, 244);
$color-footer: #f6efef;
$color-label: hsl(204, 88%, 49%);
$color-categoy: #f6efef;
